/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--palette_accent_blue: #0073C1;
	--palette_accent_light_blue: #6D98C4;
	--palette_accent_red: #E20817;
	--palette_accent_light_red: #F8C2C1;
	--palette_black: #000404;
	--palette_grey: #868689;
	--palette_white: #FFFFFF;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	box-sizing: content-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* font-family: "Raleway", sans-serif; */
}

main {
	margin-left: max(40px , 50% - 1200px/2);
	margin-right: max(40px , 50% - 1200px/2);
	max-width: 1200px;
}

.breadcrumbs {
	grid-area: breadcrumbs;

	margin: 24px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 8px;
}

.breadcrumb_element {
	font-size: 14px;
	color: var(--palette_grey);
}

.breadcrumb_element.active {
	color: var(--palette_accent_blue);
}

.breadcrumb_separator {
	background-color: var(--palette_grey);
	min-width: 5px;
	min-height: 5px;
	border-radius: 20%;
	transform: rotate(45deg);
}

.product_primary {
	display: grid;
	grid-template-columns:  minmax(343px, 456px) auto;
	grid-auto-rows: auto;
	grid-template-areas:
	 'illustration primary_desc'
	 'misc_desc primary_desc';
	column-gap: 40px;

	margin-bottom: 68px;
}

.product_primary_description {
	grid-area: primary_desc;
}

.product_primary_description .product_title { 
	font-size: 32px;
	font-weight: 700;
	line-height: 110%;
	margin: 0 0 16px 0;
}

.product_primary_description .product_summary {
	font-size: 14px;
	line-height: 120%;
	font-weight: 400;
	margin: 0 0 16px 0;
}

.product_primary_description .product_contact h3 {
	font-size: 14px;
	color: var(--palette_grey);
	margin-bottom: 8px;
	line-height: 120%;
}

.product_primary_description .product_contact_button_wrap {
	display: flex;
	justify-content: space-between;
	column-gap: 8px;
}

.product_primary_description .product_contact_button_wrap button {
	appearance: none;
	flex-grow: 1;
	height: 40px;
	border: 1px solid var(--palette_accent_blue);
	border-radius: 5px;

	background-color: var(--palette_white);
	color: var(--palette_black);

	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: center;
}

.product_primary_description .product_contact_button_wrap button.primary {
	background-color: var(--palette_accent_blue);
	color: var(--palette_white);
}

.product_extended_description .product_description_criteria_type_list {	
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
	/* column-gap: 24px; */
	
	
}

.product_description_criteria_type_list li {
	/* height: 33px; */
	max-width: 120px;

	padding: 7px 0px;

	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: center;
	
	color: var(--palette_grey);
	flex-grow: 1;
}

.product_description_criteria_type_list li:not(.chosen) {
	border-bottom: 2px solid var(--palette_grey);
}

.product_description_criteria_type_list li.chosen {
	color: var(--palette_black);
	border-bottom: 2px solid var(--palette_black);
}

.product_criteria_list {
	list-style-type: none;
	padding: 0;
}

.product_criteria_list li {
	display: flex;
	justify-content: space-between;
	column-gap: 8px;
	height: 25px;
}

.product_criteria_list li span {
	font-size: 14px;
	line-height: 120%;
}

.product_criteria_list li span:nth-child(1){
	color: var(--palette_grey);
}

.product_criteria_list li span:nth-child(2) {
	flex: 1 0;
  	border-bottom: 1px dotted var(--palette_grey);
	margin-bottom: 8px;
}

/* ---------------------------------------------- */

.product_illustration {
	grid-area: illustration;

	display: flex;
	flex-direction: column;
	row-gap: 32px;
}

.product_illustration .product_gallery_slider_wrap {
	margin: 0 0 8px 0;
}

.product_illustration .primary_pic {
	max-width: 457px;
	margin: 0 0 16px 0;
}

.product_illustration .sub_pics_wrap {
	display: flex;
	column-gap: 8px;
	height: 49px;
	overflow-x: hidden;
}

.product_illustration .product_img_description {
	font-weight: 700;
	font-style: italic;
	font-size: 14px;
	line-height: 120%;
	color: var(--palette_grey);
}

.product_misc_description .product_docs {
	margin: 32px 0 20px;
}

.product_misc_description .product_docs > h3 {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;

	color: var(--palette_grey);

	margin: 0 0 12px 0;
}

.product_misc_description .product_docs_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.product_docs_list li {
	display: flex;
	align-items: stretch;

	/* height: 31px; */

	column-gap: 8px;

	margin-bottom: 12px;
}

.product_docs_list li .doc_info_label {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: var(--palette_black);
}

.product_docs_list li .doc_info_link {
	appearance: none;

	font-weight: 700;
	font-size: 12px;
	line-height: 120%;
	color: var(--palette_accent_blue);
}

.product_complectation > h3 {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	
	color: var(--palette_grey);
}

.product_compectation_list {
	list-style-type: none;
	padding: 0;
}

.product_compectation_list > li {
	display: flex;
	align-items: center;
	column-gap: 8px;
	height: 17px;

	margin-bottom: 12px;
}

.product_compectation_list > li span {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0%;

	color: var(--palette_black);
}

.product_compound {
	grid-area: compound;
	margin-bottom: 80px;
}

.product_compound > .product_compound_title {
	font-size: 32px;
	font-weight: 700;
	line-height: 110%;
	margin: 0 0 16px 0;
}

.product_compound .product_compound_list {
	list-style-type: none;
	padding: 0;
	display: flex;
}

.product_compound .product_compound_list > li {
	height: 101px;
	width: 72px;

	padding: 16px 24px;

	border: 1px solid #EFEFF1;
}

.product_compound .product_compound_list > li.primary {
	background-color: var(--palette_accent_blue);
	color: var(--palette_white);

	border-color: var(--palette_white);
}

.product_compound .product_compound_list>li.sub_primary {
	background-color: var(--palette_accent_light_blue);
	color: var(--palette_white);

	border-color: var(--palette_white);
}

.product_compound .product_compound_list .compound_element {
	font-weight: 700;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0%;
	text-align: center;

	margin: 16px 0;
}

.product_compound .product_compound_list .compund_label,
.product_compound .product_compound_list .compound_quantity {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: center;
}

/* ------------------------------------------------- */

.product_contact_form {
	grid-area: contact_form;

	display: flex;
	gap: 40px;

	margin-bottom: 136px;
}

.product_contact_form .product_contact_form_title {
	font-size: 32px;
	font-weight: 700;
	line-height: 110%;

	margin: 0 0 0 0;
	max-width: 456px;
}

.product_contact_form .product_contact_form_wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr 144px 1fr;
	grid-template-areas: 
		"name email"
		"phone phone"
		"appeal appeal"
		"submit .";
	column-gap: 40px;
	row-gap: 16px;

	flex-grow: 1;
}

.product_contact_form .product_contact_form_input_wrap.name {
	grid-area: name;
}

.product_contact_form .product_contact_form_input_wrap.email {
	grid-area: email;
}

.product_contact_form .product_contact_form_input_wrap.phone {
	grid-area: phone;
}

.product_contact_form .product_contact_form_input_wrap.appeal {
	grid-area: appeal;
}

.product_contact_form_input_wrap.appeal > textarea {
	height: 90px;
}

.product_contact_form .contact_form_input_label {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: var(--palette_grey);

	margin-bottom: 4px;
}

.product_contact_form .contact_form_input {
	appearance: none;

	width: calc(100% - 34px);
	height: 16px;
	padding-top: 14px;
	padding-right: 16px;
	padding-bottom: 14px;
	padding-left: 16px;
	border-width: 1px;
	border: 1px solid var(--palette_grey);
	border-radius: 5px;

	resize: none;
}

.product_contact_form .contact_form_submit {
	appearance: none;
	padding: 12px 24px;
	height: 40px;
	border: 1px solid var(--palette_accent_blue);
	border-radius: 5px;
	background-color: var(--palette_accent_blue);
	color: var(--palette_white);
	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: center;
	justify-self: start;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */

@media (max-width: 990px) {

	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	main {
		max-width: 100%;
		margin: 0 16px 61px;
		display: flex;
		flex-direction: column;
		justify-items: flex-start;
		align-items: stretch;
		row-gap: 16px;
	
		/* margin-bottom: 64px; */
	}

	.breadcrumbs {
		overflow-x: scroll;
		white-space: nowrap;
		margin: 16px 0 0 0;

		-ms-overflow-style: none;
		scrollbar-width: none;
	}
			
	.breadcrumbs::-webkit-scrollbar {
		display: none;
	}

	.product_primary,
	.product_compound,
	.product_contact_form {
		margin-bottom: 0;
	}

	.product_primary .product_title,
	.product_compound .product_compound_title,
	.product_contact_form .product_contact_form_title {
		font-size: 24px;
	}

	.product_primary {
		display: flex;
		flex-direction: column;
		justify-items: flex-start;
		align-items: stretch;

		row-gap: 18px;
	}

	.product_primary .product_gallery_slider_wrap {
		display: flex;
		flex-direction: column;
	}

	.product_primary .primary_pic {
		max-width: 100%;
		height: auto;
		align-self: center;
	}

	.product_primary .product_contact_button_wrap {
		flex-direction: column;
		row-gap: 8px;
	}

	.product_primary .product_description_criteria_type_list {
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	
	.product_primary .product_description_criteria_type_list::-webkit-scrollbar {
		display: none;
	}

	.product_primary .product_criteria_list {
		margin: 0;
	}

	.product_primary .product_docs {
		margin: 0 0 12px;
	}

	.product_compound {
		white-space: nowrap;
	}

	.product_compound .product_compound_list {
		overflow-x: scroll;

		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.product_compound .product_compound_list::-webkit-scrollbar {
		display: none;
	}

	.product_compound .product_compound_list li {
		min-width: 52px;
	}

	.product_contact_form {
		flex-direction: column;
		row-gap: 24px;
	}

	.product_contact_form .product_contact_form_title {
		max-width: 100%;
	}

	.product_contact_form .product_contact_form_wrap {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
	}

}


















